html, body {
    height: 100%;
    background-color: #333;
}

body {
    color: #fff;
    text-align: center;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.max_width {
    max-width: 900px;
}

.post {
    margin-top: 100px;
    text-align: left;
    font-size: 16px;
}

.post p{
    text-indent: 2em;
}

.post .image{
    margin: 10px;
    text-align: center;
}

.post .code{
    margin: 10px;
    max-width: 800px;
}

.title {
  text-align: center;
}

.title span{
  font-size: 36px;
}

.subtitle {
  text-indent: left;
}

.subtitle span{
  font-size: 24px;
}

